<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Forward</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Degree Planning Options</h1>
    <div class = "container-fluid">
        Choose a 4-year plan:
        <form action="/plan/" method="POST">{% csrf_token %}
            <select name="plan">
                {% for plan in plans %}
                <option value="{{ plan.Major }}">{{ plan.Major }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Generate Plan">
        </form>
    <script>
        change("plan");
        function change(dropdown){
            $('#'+dropdown).on('click', 'li a', function(){
                $('#'+dropdown+"btn").html($(this).text()+' <span class="caret"></span>');
                $('#'+dropdown+"btn").val($(this).text());
            });
        };

    </script>
</body>
</html>