<!DOCTYPE html>
<html lang="en" style="min-height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Degree Forward</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="min-height: 100%">
    <div class="container-fluid col-xs-9" style="background-color: lightgrey; padding-top: 20px; padding-bottom: 20px; min-height: 100%">
        <div class="container-fluid" style="margin-bottom:20px">
            Degree Program - 4 Year
        </div>
        <div class="container-fluid">
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black" onclick="">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px">
                <div class = "container col-xs-3" style="margin-top: 10px; margin-bottom: 10px">
                    <button onclick="panic()">Del</button><br>
                    Fall 2016 - Semester 1
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
                <div class="container col-xs-1" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="container-fluid" style="outline: 1px solid black">
                        Class 1
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-xs-3 fill" style="background-color: grey; padding-top: 30px; min-height: 100%">
        <div class="container">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="planbtn">Select a New Plan <span class="caret"></span></button>
                <ul class="dropdown-menu" id="plan">
                    <li><a onclick="">Example Plan 1</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="dropdown" style="min-width: 100%">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="semesterbtn">Add a New Semester <span class="caret"></span></button>
                <ul class="dropdown-menu" id="semester">
                    <li><a onclick="">Summer 2017</a></li>
                </ul>
            </div>
        </div>
        <br>

        <div class="container-fluid" style="outline: 0px solid black; margin-bottom: 30px; border-bottom: 10px">
            <div class="container-fluid">
            <button class="btn btn-primary" style="margin-bottom: 10px" onclick="panic()">Add a Course</button>
            </div>
            <div class="container-fluid" style="height: 50px; outline: 1px solid black; background-color: white; margin-bottom: 5px">
                <div class="col-xs-4">Pancakes</div>
                <div class="col-xs-6 col-xs-offset-2"><button onclick="panic()">Auto Add Class</button><br><button onclick="panic()">Delete</button></div>
            </div>
            <div class="container-fluid" style="height: 50px; outline: 1px solid black; background-color: white; margin-bottom: 5px">
                <div class="col-xs-4">Pancakes</div>
                <div class="col-xs-6 col-xs-offset-2"><button onclick="panic()">Auto Add Class</button><br><button onclick="panic()">Delete</button></div>
            </div>
            <div class="container-fluid" style="height: 50px; outline: 1px solid black; background-color: white; margin-bottom: 5px">
                <div class="col-xs-4">Pancakes</div>
                <div class="col-xs-6 col-xs-offset-2"><button onclick="panic()">Auto Add Class</button><br><button onclick="panic()">Delete</button></div>
            </div>
            <div class="container-fluid" style="height: 50px; outline: 1px solid black; background-color: white; margin-bottom: 5px">
                <div class="col-xs-4">Pancakes</div>
                <div class="col-xs-6 col-xs-offset-2"><button onclick="panic()">Auto Add Class</button><br><button onclick="panic()">Delete</button></div>
            </div>
        </div>
    </div>

    <script>
        change("plan");
        change("semester");

        function panic(){
            alert("Pancakes");
        }

        function addStuff(){
            alert("I will add this in some amount of time.")
        }

        function change(dropdown){
            $('#'+dropdown).on('click', 'li a', function(){
                $('#'+dropdown+"btn").html($(this).text()+' <span class="caret"></span>');
                $('#'+dropdown+"btn").val($(this).text());
            });
        };
    </script>
</body>
</html>